*{
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
}

canvas{
	box-shadow: 5px 5px 50px rgba(0,0,0,0.4);
}
nav{
	display: inline-block;
	background-color: #607D8B;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: rgba(255,255,255,0.23);
	box-shadow: 0px 10px 100px rgba(0,0,0,0.3);
	width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a:visited{
	color: white;
}

li{
	display: inline;
	float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
	background-color: #78909C;
}

dropdown{
	background-color: #37474F;
	color: #37474F;
	padding: 14px 16px;
	border: none;
	cursor: pointer;
}

dropdown:focus, dropdown:hover{
	background-color: #455A64;
}


body{
	background-color: #263238;
}


/*
li:hover{
	background-color: #37474F;
}

li:focus{
	background-color: #37474F;

}

/*
ul{
	list-style-type: none;
}

a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
*/
