<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- <div class="navbar-header">
            <img src="logo.png" alt="Brand" class="logo" />
        </div> -->
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Arquivo <span class="caret"></span></a>
                <ul class="dropdown-menu">
      						<li>
      							<input type="file" id="inputfile" onchange="upfile()"/ style="display:none">
                    <a onclick="document.getElementById('inputfile').click();">Importar</a>
      						</li>
      						<li class="divider"></li>
      						<li> <a onclick="salvarPNG()">Salvar como PNG/Imprimir</a></li>
      					</ul>
      			  </li>
              <li class="dropdown" id="editar">
      					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Editar<span class="caret"></span></a>
      					<ul class="dropdown-menu">
      						<li><a href="#" id='red'>Redimensionar</a></li>
      						<li> <a href="#">Cortar</a> </li>
      						<li> <a href="#">Rotacionar</a> </li>
      						<li role="separador" class="divider"></li>
      						<li> <a onclick="Rotate90CW();">Girar 90g</a> </li>
      						<li> <a onclick="Rotate90CCW();">Girar 90g anti horário</a></li>
      						<li> <a onclick="Rotate180();">Girar 180g</a> </li>
      						<li class="divider"></li>
      						<li> <a onclick="RotateX()">Girar horizontalmente</a></li>
      						<li> <a href="#">Girar verticalmente</a></li>
      					</ul>
        				</li>
      			  	<!-- Imagem -->
      			  	<li class="dropdown" >
      					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Imagem<span class="caret"></span></a>
        					<ul class="dropdown-menu">

        						<li> <a onclick="saturation(2)">Saturação</a> </li>
                    <li> <a onclick="brightness(10)">Brilho</a></li>
        						<li> <a onclick="Filtro(3,matrizes[2].data)">Desfoque</a> </li>
        						<li> <a onclick="noise(500);">Adicionar Ruído</a></li>

        					</ul>
      			  	</li>
      				<!-- Cor -->
      				<li class="dropdown" id="cor">
      					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Cor<span class="caret"></span></a>
      					<ul class="dropdown-menu">
      						<li> <a onclick="grayScale();">Preto e Branco</a></li>
      						<li> <a onclick="sepia();">Sepia</a> </li>
      						<li> <a onclick="negative();">Inverter Cores</a></li>
      						<li class="divider"></li>
      						<li> <a onclick="RGB_Levels(255,50,14);">Níveis RGB</a></li>
      					</ul>
      				</li>
      	  			<li>
      	  				<a id="reset" onclick="resetCanvas();">Reset</a>
      	  			</li>
            </ul>
        </div>
    </div>
</div>
