<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- <div class="navbar-header">
            <img src="logo.png" alt="Brand" class="logo" />
        </div> -->
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Arquivo <span class="caret"></span></a>
                <ul class="dropdown-menu">
      						<li>
      							<input type="file" id="inputfile" onchange="upfile()"/ style="display:none">
                    <a onclick="document.getElementById('inputfile').click();">Importar</a>
      						</li>
      						<li class="divider"></li>
      						<li> <a onclick="salvarPNG()">Salvar como PNG/Imprimir</a></li>
      					</ul>
      			  </li>
              <li class="dropdown" id="editar">
      					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Editar<span class="caret"></span></a>
      					<ul class="dropdown-menu">
      						<li><a href="#" id='red'>Redimensionar</a></li>
      						<li> <a href="#">Cortar</a> </li>
      						<li> <a href="#">Rotacionar</a> </li>
      						<li role="separador" class="divider"></li>
      						<li> <a onclick="Rotate90CW();">Girar 90g</a> </li>
      						<li> <a onclick="Rotate90CCW();">Girar 90g anti horário</a></li>
      						<li> <a onclick="Rotate180();">Girar 180g</a> </li>
      						<li class="divider"></li>
      						<li> <a onclick="RotateX()">Girar horizontalmente</a></li>
      						<li> <a href="#">Girar verticalmente</a></li>
      					</ul>
        				</li>
      			  	<!-- Imagem -->
      			  	<li class="dropdown" id="aprimoramentos">
      					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Imagem<span class="caret"></span></a>
      					<ul class="dropdown-menu">

      						<li> <a data-toggle="modal" href="#saturation_modal">Saturação</a> </li>
                  <li> <a data-toggle="modal" href="#bright_modal">Brilho</a></li>
      						<li> <a href="#">Nitidez</a> </li>
      						<li> <a onclick="Filtro(3,matrizes[2].data)">Desfoque</a> </li>
      						<li> <a onclick="noise(500);">Adicionar Ruído</a></li>

      					</ul>
      			  	</li>
      				<!-- Cor -->
      				<li class="dropdown" id="cor">
      					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Cor<span class="caret"></span></a>
      					<ul class="dropdown-menu">
      						<li> <a onclick="grayScale();">Preto e Branco</a></li>
      						<li> <a onclick="sepia();">Sepia</a> </li>
      						<li> <a onclick="negative();">Inverter Cores</a></li>
      						<li class="divider"></li>
      						<li> <a onclick="RGB_Levels(255,50,14);">Níveis RGB</a></li>
      					</ul>
      				</li>
      	  			<li>
      	  				<a id="reset" onclick="resetCanvas();">Reset</a>
      	  			</li>
            </ul>
        </div>
    </div>
</div>



<!-- Modal Saturação  -->
<div class="modal fade" id="saturation_modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2> <b> Saturação </b> </h2>
			</div>
			<div class="modal-body">
				<div id="a">1
					<div id="s_valor" style="float:right;">2</div>
				</div>

				<input id="range" type="range" step="0.01" min="1.0" max="2.0">
			</div>
			<div class="modal-footer">
				<button id="confirm" type="button" class="btn btn-info" data-dismiss="modal" onclick="saturation(valor)">Aplicar</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  var valor = document.getElementById("range").value;
  console.log(valor);
</script>

<!-- Modal Brilho  -->
<div class="modal fade" id="bright_modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2> <b> Brilho </b> </h2>
			</div>
			<div class="modal-body">
				<div id="a">0
					<div id="valor" style="float:right;">100</div>
				</div>

				<input id="B-range" type="range" step="1.0" min="0.0" max="200.0">
			</div>
			<div class="modal-footer">
				<button id="confirm" type="button" class="btn btn-info" data-dismiss="modal" onchange="show_value(this.value)" onclick="brightness(valor)">Aplicar</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
function show_value(x){
 document.getElementById("slider_value").innerHTML=x;
}
// var valor = 0;
//   $("input").mousemove(function(e){
//     valor = document.getElementById("B-range").value;
//     console.log(valor);
//     // document.getElementById("s_valor").innerHTML = valor;
//   });
</script>
