*{
	font-family: "Arial";
}

body{
	background-color: #212121;
	margin: 0;
}

canvas{
	box-shadow: 5px 5px 50px rgba(0,0,0,0.4);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
		background-color: #424242;
		border-width: 0px 0px 2px 0px;
		border-style: solid;
		border-color: #039BE5;
		box-shadow: 0px 14px 100px rgba(3,155,229,0.2);
		cursor: pointer;
}

li{float: left;}

li a:hover, .dropdown:hover{
	background-color: #424242;
}

li.dropdown{
	display: inline-block;
}

ul li a {
    display: inline-block;
    text-align: center;
    padding: 7px 12px;
    text-decoration: none;
		transition: 0.8s;
		font-size: 14px;
		/*Font Color*/
		color: lightgray;
}

ul li a:hover{
	background-color: #039BE5;
	color: white;
}

ul li.reset:hover{
	background-color: red !important;
}


.conteudo-dropdown{
	display: none;
	position: absolute;
	background-color: #424242;
	/*padding: 12px 16px;*/
	/*min-width: 120px;*/
	z-index: 1;
}

.dropdown:hover .conteudo-dropdown{
	display: block;
}
nav ul.topnav li a:hover{
	position: relative;
	display: inline-block;
}
